body {
  background: #efefef;
  font-family: 'Titillium Web', sans-serif;
  max-height: 100px;
  overflow: auto;
}

.brand-logo {
  margin-left: 20px;
}

.color1 {
  background-color: #303f9f !important;
}

.top {
  margin-top: 8px;
}

.create-action {
  margin-top: 30px;
}

.createbtn {
  margin-top: 25px;
}

.collapsible,
.collapsible-header {
  background: lightgrey;
}

.collapsible-body {
  max-height: 200px;
  overflow: auto;
}

footer {
  text-align: center;
  position: absolute;
  width: 100%;
  margin-top: 285px;
}
