body {
  background: lightgrey;
}

.color1 {
  background-color: #303f9f !important;
}

.brand-logo {
  margin-left: 20px;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}

.create-action {
  margin-top: 30px;
}

.collapsible, .collapsible-header {
  background: lightgrey;
}

footer {
  text-align: center;
  min-height: 10vh;
  position: fixed;
  width: 100%;
  margin-top: 85px;
}