<!DOCTYPE html>
<html ng-app="InvertedIndexApp">

<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="AppController">
  <header>
    <nav class="color1">
      <div class="nav-wrapper">
        <a class="brand-logo"> {{ appName }} </a>
      </div>
    </nav>
  </header>
  {{availableFiles}}
  <section>
    <div class="row">
      <div class="col s6">
        <form action="#">
          <div class="file-field input-field">
            <div class="btn color1" id="upload">
              <span>Choose File</span>
              <i class="material-icons right">library_add</i>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload files">
            </div>
          </div>
        </form>

        <!--<div class="row">
          <div class="input-field col s3">
            <select multiple>
             <option value="" disabled selected>Choose file</option>
             <option value="1">Option 1</option>
          </select>
          </div>-->
        <div class="">
          <button class="btn create-action color1" ng-click="createIndex()">Create
    <i class="material-icons right">create</i>
  </button></div>
        <!--</div>-->

        <!--<div class="row">
          <div class="col s3 m5">
            <div class="card color1">
              <span class="white-text">
            <ul>Steps</ul>
            <ol>1. Choose a Valid Json File.</ol>
            <ol>2. Click the 'Create Index' button</ol>
            <ol>3. To Search Enter your search term(s)</ol>
            <ol>4. Click the 'Search' button</ol>
          </span>
            </div>
          </div>
        </div>-->

        <div class="collapsible">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header" ng-repeat="file in availableFiles"><i class="material-icons">keyboard_arrow_right</i>{{file}}</div>
              <div class="collapsible-body" ng-repeat="(key, value) in indexTable"><span>
                <table class="striped">
        <thead>
          <tr>
              <th data-field="id">Word</th>
              <th data-field="name" ng-repeat="items in arrayFromFileLength(key)">Document{{items + 1}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(keys, index) in value">
            <td>{{keys}}</td>
            <td ng-repeat="items in arrayFromFileLength(key)"><i class="material-icons #303f9f-text" ng-if="index.includes(items)">done</i>
            <i class="material-icons red-text" ng-if="index.includes(items) === false">close</i>
            </td>
          </tr>
        </tbody>
      </table></span></div>
            </li>
          </ul>
        </div>


      </div>

      <div class="col s6">
        <div class="input-field">
          <input id="search" type="search" class="search-input-field" placeholder="Search"><i class="search</i></div>
          <label class="label-icon" for="search"></label>
        </div>

      </div>
    </div>
  </section>

  <!--<footer>
    <nav class="color1">
      <p>&copy; Uloaku Enyingwa 2017</p>
    </nav>
  </footer>-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>`
  <script type="text/javascript" src="js/inverted-index.js"></script>
  <script type="text/javascript" src="js/inverted-index-utilities.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>

</html>